* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 15px;
    color: #444;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    border-bottom: 2px solid #111;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

h1 {
    font-size: 20px
}

main {
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.sectionControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sectionControls input {
    padding: 8px 10px;
    width: 380px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sectionControls button{
    padding: 8px 10px;
    margin-left: 8px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-radius: 4px;
    font-size: 16px;
}

.table-section {
    display: flex;
    flex-direction: column;
    gap: 16px
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc
}

table thead tr {
    background: #f7f7f7
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left
}

.info-box {
    padding: 16px;
    border: 1px dashed #ccc;
    margin-left: 16px;
    flex: 1
}